* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background: url("https://static3.depositphotos.com/1008025/237/i/450/depositphotos_2371440-stock-photo-modern-school-building.jpg") center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    width: 360px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.descripcion {
    font-size: 14px;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1775bc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1224e8;
}

#resultado {
    margin-top: 15px;
    font-weight: 600;
}