body {
    font-family: Arial, sans-serif;
    background-color: #eb3e3e;
}

.formulario {
    width: 300px;
    margin: 60px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.formulario h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
}

input,
select {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #2c7be5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1a5bb8;
}

form{
    box-shadow: 0 10px 500px rgba(2,6,23,0.6);
}